


  /* ----------------------------Main section */


  .main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  :root{
    --primary:#f1f1f1;
    --purple:#6d15a3;
    --black :#1c1c1c;
    --second:#da9673;
    --gray:#a6a6a6;
  }

  #logo {
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio */
    display: inline-block;
    vertical-align: middle;
}


  /* ---------------------------about me section */

  .info_about_me{

    margin-top: 30px;
    align-self: center;
    width: 100%;
    padding: 20px;
  }

  .info_about_me h1{
    margin-bottom: 40px;
    color: var(--second);
  }

  .info_about_me a{
    text-decoration: none;
    color: #770000;
  }

  .location_logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .location_logo img{
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

  .mapping{
    display: flex;
    flex-direction: column;

  }

  #mapping_hr{
    border: 2px solid var(--second);
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    width: 80%;
  }

  .map{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .map iframe{
    min-width:80%;
    height: 300px;
    border-radius: 20px;
    transition: border-radius 0.5s;
  }
  .map iframe:hover{
    border-radius: 10px;
  }

  .info_about_me p{
    font-size: 20px;
  }

  .image_container{
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .image_container img{
    height: 300px;
    width: 300px;
    border-radius: 100px;
    object-fit: cover;
  }

  .image_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 330px;
    height: 330px;
    border-radius: 100px;
    border: 10px solid var(--second);
    transition: transform 0.5s;
  }
  .image_container div:hover{
    transform: translateY(-10px);
  }

  @media screen and (min-width:800px){


    .main{
      height: 100vh;
      width: 100%;
    }

    .map{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .map iframe{
      height: 500px;
      width: 500px;
    }

    .image_container img{
      width: 400px;
      height: 400px;
    }
    .image_container div{
      width: 430px;
      height: 430px;
    }

    .mapping{
      flex-direction: row;
    }

    .location_logo img{
      width: 400px;
      height: 500px;
    }


  }

