
  /* ----------------------------Main section */


  :root{
    --primary:#f1f1f1;
    --black :#1c1c1c;
    --second:#da9673;
    --gray:#a6a6a6;
  }


  .map{
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .map iframe{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: border-radius 0.5s;
  }
  .map iframe:hover{
    border-radius: 20px;
  }


  iframe{
    width: 500px;
    height: 500px;
    align-self: center; /*align itself to the center*/
    border-radius: 50%;
    transition: border-radius 0.5s;
  }

  iframe:hover{
    border-radius: 10px;
  }



  /* ----------------contact */

  .contact_me{
    margin-top: 40px;
    width: 100%;
    padding: 10px 20px;
    color:var(--black);
  }

  .contact_me span{
    color: #1c1c1c;
    font-weight: 600;
  }


  .contact_me h1{
    margin-bottom: 40px;
    color: var(--second);
  }

  .contact_me div{
    display: flex; /*displays elements in a line, horizontally or vertically*/
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  /* ----------------------responsive section */

  @media screen and (min-width:800px){


    .main{
      height: 100vh;
    }

    .map iframe{
      height: 500px;
      width: 500px;
    }

    .contact_me{
      text-align: center;
    }


  }
