
/* -----------------------------Main section */

.main{
  display: flex;
  height: 90vh;
  padding: 40px;
  gap: 10px;
}


.main i{
  font-size: 150px;
  margin-bottom: 40px;
  color: var(--footer);
}

.video_section{
  width: 100%;
  padding: 10px;
}

.main{
  height: auto;
  padding: 0;
}

.first{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


.video_section video{
  width: 100%;
  height: auto;
}
/* Making video player  rounded corners */

video{
  border-radius: 20px;
}

/*  ------------------responsive section*/


@media screen and (min-width:800px){
  .main{
    height: 100vh;
  }
}
