
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color:var(--black);
  position: relative;
}

:root{
  --primary:#f1f1f1;
  --logo-white :#fff;
  --purple:#6d15a3;
  --black :#1c1c1c;
  --second:#da9673;
  --gray:#a6a6a6;
  --facebook :#316FF6;
  --instagram:#dd2a7b;
  --footer:#9e5c22a1;
  --white :#fff;
  --nav_gray:#b8b7b7;
  --try : #2c5f14;
}


i{
  font-size: 25px;
}


.container-fluid{
  background-color:var(--white);
}


.navbar{
  background:var(--white);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 20px;
  gap: 0px;
  width: 120px;
}

.navbar-nav {
  margin-left: auto;
  /* Adjust the margin as needed */
}

.nav-item i {
  border-radius: 100px;
  margin-bottom: -15px;
  color: var(--nav_gray);
  padding: 8px 20px;
  transition: color 0.5s, background 0.5s;
}

.nav-item:hover {
  background-color: var(--nav_gray);
}

.nav-item:hover i{
  color: var(--white);
  cursor: pointer;
}

.nav-item a{
  transition: color 0.5s;
  color: var(--nav_gray);
}
.bottom_a_navigation{
  margin-top: -10px;
}

.nav-item:hover a{
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}


#theme i{
  color: var(--black);
}

#theme:hover i{
  color: var(--white);
  cursor: pointer;
}

#theme:hover a{
  cursor: pointer;
}







/* ------------------Main page----------------------- */

.main{
  display: flex;
  flex-direction: column;
  align-items: center; /* 100% of the viewport height */
}

.main .left{
  display: flex;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.main .left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  right: 20px;
}

.main .right{
  width: auto;
  max-width: 100%;
  padding: 10px 30px;
  justify-content: center;
}

.right h1{
  color: var(--second);
}

.right p{
  font-weight: 500;
  color: var(--black);
}

.right p a{
  text-decoration: none;
  color: var(--second);
}


/* ------------------footer section */

.footer{
  display: flex;
  flex-direction: column;
}

.footer p{
  color: var(--white);
}

.footer .bottom{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 70px;
}

.bottom p{
  margin: auto;
  font-weight: 600;
  color: var(--second);
}

.bottom i{
  font-size: 18px;
}

.elements{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--footer);
  color: var(--primary);
}
.elements .text{
  min-height: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex: 1;
}

.elements .text p{
  margin: auto;
}

.elements .social{
  flex: 1;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}




.elements .logo{
  display: flex;
  gap: 20px;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
}

.logo a{
  transition: transform 0.5s;
}

.logo a:hover{
  transform:translateY(-5px) ;
}

.elements a{
  font-size: 25px;
  text-decoration: none;
  color: var(--logo-white);
}

.elements p{
  font-weight: 600;
  color: var(--logo-white);
}

.navigation_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.navigation_footer .navigation{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 40px;
  text-align: center;
  align-items: center;
}

.navigation a{
  color: var(--logo-white);
  transition: transform 0.5s;
}

.navigation a:hover{
  transform: translateY(-5px);
}



/* ------------------responsive------------------ */

@media screen and (min-width:800px){
  .main{
    flex-direction: row;
  }

  .nav-item{
    padding: 0px 10px ;
  }



  .left img{
    width: 70%;
    height: 70%;
  }

  .elements{
    flex-direction: row;
  }
  .elements .logo{
    width: 5%;
  }
}




